
body {
    width: 600px;
    margin: 0 auto;
    padding: 10px;
}
header, main, footer {
    border: 2px solid blue;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 4px;
}

nav {
    border: 2px solid blueviolet;
    border-radius: 4px;
    padding: 10px;
}

h1 {
    border: 1px solid yellow;
    padding: 10px;
}

td {
    width: 100px;
    padding: 10px;
    border: 1px solid black;
}

table {
    border: 1px solid black;
}

.red-text {
    color: red;
}

.green-text {
    color: green;
}

.blue-text {
    color: blue;
}

.yellow-text {
    color: yellow;
}

.input-field {
    margin: 10px 0 10px 0;
}